# FOOD BALANCE SHEET FOR EAST AFRICA

Analysis by Rogers Mugambi<br>
(c) 2022

<img src=https://sites.google.com/site/apecharvestlost/_/rsrc/1467135557618/food-balance-sheet/foodbalance.jpg alt="image info" />

<h2> What is a Food Balance Sheet? </h2>

A Food Balance Sheet (FBS) can be defined as an aggregated and analytical data set that “presents a comprehensive picture of the pattern of a country’s food supply during a specified reference period.
” This is achieved within an accounting framework, wherein all potential sources of both supply and utilization of a given food product are specified. 

The quantities allocated to all sources of total supply –
>> * the amount of the food item produced, 
>> * the amount of the food item that is imported, and 
>> * the amount of the item that is either added to or taken from stocks 

– must be equal to the quantities allocated to all sources of utilization, which can include exports, losses along the supply chain, livestock feed, seed use, tourist food, food processing, industrial uses, other uses, and food available for consumption by a country’s residents.

This balance is compiled for every food item (estimated on a primary
commodity equivalent basis) consumed within a country, and all of the primary commodity equivalent balances are then combined into a single overall FBS. An estimate of per capita supply for each food item – both in terms of quantity and, through the application of food conversion factors, in terms of caloric value, protein, and fat content –
can then be derived by dividing by the country’s population. These per capita estimates of caloric value for individual food products are then summed to obtain the total daily per capita Dietary Energy Supply (DES) of a country.

<h2> Importance of FBS </h2>

Viewing the domestic food supply and demand situation within this framework allows countries to:
* measure and analyse overall food supply:  an indicator of whether sufficient food is available nationally, particularly for developing countries, where undernourishment is more likely to be a problem.
* assess food supply through calculation of indicators: these indicators can be used to analyse a wide range of concepts, including hunger, malnutrition, import dependence and food selfsufficiency.
* benchmark and analyse markets: analysing comparative diets can be a useful exercise in the area of nutrition policy, and comparative food availability is the potential for market research.
* compare food availability across time: will enable users to track changes in the food supply over time, including estimated total caloric availability, growth of consumption in new products, and general changes in dietary composition.
* improve national statistical integration: FBS provide a framework for reconciling data, as total supply must equal total utilization.
* derive improved national account estimates due to improved measurement or estimation of agricultural production and utilization. National accounts typically include estimations of household and collective consumption, trade in goods and services, and output and value-added by industry.
* use the FBS in economic models.

## DataSet

The dataset is provided by the Food and Agriculture Organization of the United Nations and is made available in .csv format on the github link below: <br>
https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learningDataset

A direct link to the dataset is shown below: <br>
[FoodBalanceSheets_E_Africa_NOFLAG.csv](https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv)

### Features

The features in the dataset are: Area Code, Area, Item Code, Item, Element Code, Element, Unit, Y2014, Y2015, Y2016, Y2017, Y2018

### Variable Definitions

1. Population: de facto population (citizens as well as all residents) in a country, area or region as of 1 July of the year indicated. The persons who are not counted as part of the “population” should be conceptualized as “visitors”, so that their food availability can be appropriately captured under tourist food.
2. Nutrients: substances that the body needs to function properly. The following nutrient-related variables are commonly derived from food estimates using nutrient conversion tables5
>> •	 Food: total calorie equivalent
>> •	 Calories per capita per day
>> •	 Food: total protein equivalent
>> •	 Proteins per capita per day
>> •	 Food: total fat equivalent
>> •	 Fats per capita per day

### Constraints on the balancing process

1. Row constraint: supply for each commodity must be equal to the utilization for that commodity. A country’s exports of a given commodity cannot exceed their supply of that commodity.
2. Column constraint: single-year and multi-year constraints

In [1]:
import pandas as pd
import numpy as np

## Accessing Dataset

In [100]:
# using pandas to read a csv file and save the data in a pandas dataframe

df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "Latin-1")

In [11]:
df.head(2)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0

In [5]:
# checking the number of rows and columns in the dataframe

df.shape

(60943, 12)

The dataframe has 12 columns and 60943 rows.

In [9]:
# cheking the datatype of the various columns

df.dtypes

Area Code         int64
Area             object
Item Code         int64
Item             object
Element Code      int64
Element          object
Unit             object
Y2014           float64
Y2015           float64
Y2016           float64
Y2017           float64
Y2018           float64
dtype: object

## Data Wrangling

Now, how many unique entries exist per column? The columns to be investigated are the Area, Item, and Element

In [17]:
# checking unique entries and saving into lists

Area = list(df.Area.unique())
Items = list(df.Item.unique())
Elements = list(df.Element.unique())

The column "Area" has the following unique entries, which are the names for 49 African countries: `'Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo', "Côte d'Ivoire", 'Djibouti', 'Egypt', 'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia', 'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'`

The column "Item" has the following 119 unique entries: `'Population', 'Grand Total', 'Vegetal Products', 'Animal Products', 'Cereals - Excluding Beer', 'Wheat and products', 'Rice and products', 'Barley and products', 'Maize and products', 'Rye and products', 'Oats', 'Millet and products', 'Sorghum and products', 'Cereals, Other', 'Starchy Roots', 'Cassava and products', 'Potatoes and products', 'Sweet potatoes', 'Yams', 'Roots, Other', 'Sugar Crops', 'Sugar cane', 'Sugar beet', 'Sugar & Sweeteners', 'Sugar (Raw Equivalent)', 'Sweeteners, Other', 'Honey', 'Pulses', 'Beans', 'Peas', 'Pulses, Other and products', 'Treenuts', 'Nuts and products', 'Oilcrops', 'Soyabeans', 'Groundnuts (Shelled Eq)', 'Sunflower seed', 'Rape and Mustardseed', 'Cottonseed', 'Coconuts - Incl Copra', 'Sesame seed', 'Olives (including preserved)', 'Oilcrops, Other', 'Vegetable Oils', 'Soyabean Oil', 'Groundnut Oil', 'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Cottonseed Oil', 'Palmkernel Oil', 'Palm Oil', 'Coconut Oil', 'Sesameseed Oil', 'Olive Oil', 'Maize Germ Oil', 'Oilcrops Oil, Other', 'Vegetables', 'Tomatoes and products', 'Onions', 'Vegetables, Other', 'Fruits - Excluding Wine', 'Oranges, Mandarines', 'Lemons, Limes and products', 'Grapefruit and products', 'Citrus, Other', 'Bananas', 'Plantains', 'Apples and products', 'Pineapples and products', 'Dates', 'Grapes and products (excl wine)', 'Fruits, Other', 'Stimulants', 'Coffee and products', 'Cocoa Beans and products', 'Tea (including mate)', 'Spices', 'Pepper', 'Pimento', 'Cloves', 'Spices, Other', 'Alcoholic Beverages', 'Wine', 'Beer', 'Beverages, Fermented', 'Beverages, Alcoholic', 'Alcohol, Non-Food', 'Meat', 'Bovine Meat', 'Mutton & Goat Meat', 'Pigmeat', 'Poultry Meat', 'Meat, Other', 'Offals', 'Offals, Edible', 'Animal fats', 'Butter, Ghee', 'Cream', 'Fats, Animals, Raw', 'Fish, Body Oil', 'Fish, Liver Oil', 'Eggs', 'Milk - Excluding Butter', 'Fish, Seafood', 'Freshwater Fish', 'Demersal Fish', 'Pelagic Fish', 'Marine Fish, Other', 'Crustaceans', 'Cephalopods', 'Molluscs, Other', 'Aquatic Products, Other', 'Aquatic Animals, Others', 'Aquatic Plants', 'Miscellaneous', 'Infant food', 'Sugar non-centrifugal', 'Palm kernels', 'Ricebran Oil'`

The column "Element" has the following 18 unique items: `'Total Population - Both sexes', 'Domestic supply quantity', 'Food supply (kcal/capita/day)', 'Protein supply quantity (g/capita/day)', 'Fat supply quantity (g/capita/day)', 'Production', 'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed', 'Seed', 'Losses', 'Processing', 'Other uses (non-food)', 'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)', 'Tourist consumption'`

In [33]:
# checking number of null values per column:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

# QUESTIONS

## Q1: total Protein supply quantity in Madagascar in 2015

In [39]:
df_Mad = df[df['Area'] == 'Madagascar']

In [42]:
df_Mad_2015 = df_Mad.filter(items = ['Element', 'Y2015'])

In [44]:
df_Mad_2015[df_Mad_2015['Element'] == 'Protein supply quantity (g/capita/day)'].sum()

Element    Protein supply quantity (g/capita/day)Protein ...
Y2015                                                 173.05
dtype: object

## Q3: total sum of Wine produced in 2015 and 2018 respectively

In [50]:
# wine produced
df_item_sum = df.groupby('Item').sum().reset_index()
df_item_sum[df_item_sum['Item'] == 'Wine']

     Item    Y2014    Y2015    Y2016    Y2017    Y2018
117  Wine  4497.36  4251.81  3872.09  4178.02  4039.32

## Q4: Highest sum between areas in 2017

In [62]:
# create a dataframe containing only the area column and Y2017 column
df_2017 = df.filter(items = ['Area', "Y2017"])

# group the dataframe rows using area and calculating sum
df_2017_area = df_2017.groupby('Area').sum().reset_index()

In [79]:
country = ['Nigeria', 'Ethiopia', 'South Africa', 'Egypt', 'Kenya']
for i in country:
    total = df_2017_area[df_2017_area['Area'] == i].values.tolist()[0][1]
    print (i, ': ', total)

Nigeria :  1483268.23
Ethiopia :  448683.76
South Africa :  517590.54
Egypt :  866379.92
Kenya :  264660.66

## Q5: total number of unique countries in the dataset

In [83]:
len(df.Area.unique())

49

In [86]:
df.describe(include = 'all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.0,60943,60943.0,60943,60943.0,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,49.0,49,122.0,119,18.0,18,5,NaN,NaN,NaN,NaN,NaN
top,114.0,Kenya,2905.0,Milk - Excluding Butter,5301.0,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,1560.0,1560,714.0,1262,5295.0,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

## Q8: total number of the sum of Processing in 2017

In [88]:
df_2017 = df.filter(items = ['Element', "Y2017"])
df_2017 = df_2017.groupby('Element').sum().reset_index()
df_2017[df_2017['Element'] == 'Processing']

       Element     Y2017
10  Processing  292836.0

## Q11: total number and percentage of missing data in 2014 to 3 decimal places

In [96]:
# total number of missing data in 2014
missing = df.Y2014.isnull().sum()
print("Total missing numbers: ", missing)
# total number of rows
rows = df.shape[0]
#calculating percentage
perc = round((missing/rows*100),3)
print("Percentage: ", perc,"%")

Total missing numbers:  1589
Percentage:  2.607 %

## Q14: year that has the highest sum of Stock Variation

In [98]:
# wine produced
df_item_sum = df.groupby('Element').sum().reset_index()
df_item_sum[df_item_sum['Element'] == 'Stock Variation']

            Element     Y2014     Y2015     Y2016     Y2017     Y2018
15  Stock Variation  58749.83  34910.99  33140.12  54316.91  20577.91

## Q15: year that had the least correlation with ‘Element Code’

In [101]:
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

## Q16: mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places

In [104]:
print("mean: ", round(df.Y2017.mean(),2))
print("standard deviation: ", round(df.Y2017.std(),2))

mean:  140.92
standard deviation:  1671.86

## Q20: Areas had the 7th lowest sum in 2017

In [130]:
df_2017 = df.filter(items = ['Area', "Y2017"])
df_2017 = df_2017.groupby('Area').sum().reset_index()
df_2017.sort_values(by = 'Y2017')

                           Area       Y2017
42               Sudan (former)        0.00
16                 Ethiopia PDR        0.00
9                       Comoros       59.84
38                   Seychelles      442.34
36        Sao Tome and Principe    12662.63
5                    Cabo Verde    14650.74
21                Guinea-Bissau    19102.77
23                      Lesotho    21267.96
3                      Botswana    22101.30
12                     Djibouti    22729.91
18                       Gambia    23154.18
17                        Gabon    27979.64
24                      Liberia    29342.20
32                      Namibia    29874.89
7      Central African Republic    29937.00
10                        Congo    41181.68
43                         Togo    49841.88
29                    Mauritius    51114.83
14                     Eswatini    54343.33
39                 Sierra Leone    55311.33
8                          Chad    71594.68
35                       Rwanda    73663.69
48                     Zimbabwe    75919.34
37                      Senegal    95681.15
20                       Guinea    98138.87
4                  Burkina Faso   101855.07
47                       Zambia   103223.77
44                      Tunisia   124167.20
2                         Benin   124771.22
33                        Niger   126707.58
25                   Madagascar   131197.73
27                         Mali   149928.33
28                   Mauritania   156665.46
31                   Mozambique   161407.98
26                       Malawi   181098.71
45                       Uganda   213950.38
11                Côte d'Ivoire   224599.01
1                        Angola   229159.57
6                      Cameroon   232030.43
41                        Sudan   239931.92
22                        Kenya   264660.66
46  United Republic of Tanzania   322616.85
0                       Algeria   325644.27
19                        Ghana   337599.06
30                      Morocco   388495.36
15                     Ethiopia   448683.76
40                 South Africa   517590.54
13                        Egypt   866379.92
34                      Nigeria  1483268.23